headerrr{
    position: top;
    right: 0;
    top: 100%;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 9%;
    background: transparent;
    
}

.navlist{
    display: flex;
}

.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.navlist a:hover{
    border-bottom: 2px solid black;
}